<br>
<br>
<br>
<br>
<h1 class="d-flex justify-content-center font-weight-bolder">Settings</h1>
<br>

<div class="d-flex justify-content-center">
<div class="jumbotron shadow p-3 mb-5 rounded">

<form (ngSubmit)="updateProfile($event)" [formGroup]="settingsForm">
    <div class="form-group" class="d-flex justify-content-center" id="username-div">
      <h5 for="username" [id]="usernameId">Update Username</h5>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="newUsername" placeholder="New Username" value="" #newUsernameEntered>
      </div>
    </div>

    <div class="form-group" class="d-flex justify-content-center" id="email-div">
        <h5 for="email" [id]="emailId">Update Email</h5>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="newEmail" placeholder="New Email" value="" #newEmailEntered>
        </div>
      </div>

      <div class="form-group" class="d-flex justify-content-center">
        <h5 for="current-password" id="passwordId">Update Password</h5>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="currentPassword" placeholder="Current Password" value="" #currentPasswordEntered>
          <input type="password" class="form-control" id="newPassword" placeholder="New Password" value="" #newPasswordEntered>
          <input type="password" class="form-control" id="reenterNewPassword" placeholder="Re-Enter New Password" value="" #reenterNewPasswordEntered>
        </div>
      </div>

    <div class="form-group">
      <div >
        <button type="submit" class="btn btn-primary btn-block form-group">Update Profile</button>
      </div>
    </div>
</form>
  
</div>
</div>

<div class="d-flex justify-content-center">
  <div class="alert alert-success" role="alert" *ngIf="showUsernameSuccessMessage">
      <strong>Success</strong>  Username Updated
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="alert alert-danger" role="alert" *ngIf="showUsernameErrorMessage">
      <strong>Error</strong> {{usernameErrorMessage}}
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="alert alert-success" role="alert" *ngIf="showEmailSuccessMessage">
      <strong>Success</strong>  Email Updated
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="alert alert-danger" role="alert" *ngIf="showEmailErrorMessage">
      <strong>Error</strong> {{emailErrorMessage}}
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="alert alert-success" role="alert" *ngIf="showPasswordSuccessMessage">
      <strong>Success</strong>  Password Updated
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="alert alert-danger" role="alert" *ngIf="showPasswordErrorMessage">
      <strong>Error</strong> {{passwordErrorMessage}}
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>