/* form {
    margin-top: 25px;
} */

button {
    margin-bottom: -15px;
}

input {
    margin-bottom: 15px;
}

#input-error {
    color: red;
}

.jumbotron {
    min-width: 600px;
    border-style: solid;
    border-width: 3px;
    border-color: #F7C331;
}

#username-div, #email-div {
    margin-bottom: 40px;
}