.jumbotron {
    /* background-color: #6B7A8F; */
    background: rgba(16, 119, 224, 0.0);
}

/* .pre-scrollable {
    min-height: 300px;
} */

tr {
    background-color: white;
}

tr:hover {
    background-color: #f8f8ff;
}

table {
    border-style: solid;
    border-width: 5px;
    border-color: #343A40;
}

